.profile__edit {
  background-image: url(../../../images/Vector1.svg);
  width: 24px;
  height: 24px;
  border: solid 1px;
  color:rgba(255, 255, 255, 1);
  margin: 0 18px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: end;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media (max-width: 500px) {
  .profile__edit {
    margin: 0 0 0 10px;
    background-size: 7.5px;
    width: 18px;
    height: 18px;
    align-self: center;
  }
}
