.footer{
  max-width: calc(100% - 400px);
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer{
    max-width: calc(100% - 300px);
  }
}

@media (max-width: 768px) {
  .footer{
    max-width: calc(100% - 200px);
  }
}

@media (max-width: 500px) {
  .footer{
    max-width: 100%;
  }
}

