.elements__trash {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: 0.2s ease-in;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  min-width: 18px;
  min-height: 19px;
  border: none;
  padding: 0;
}

.elements__trash:hover {
  opacity: 0.6;
}