.elements__counter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  position: absolute;
  right: 26px;
  bottom: 20px;
}
